@import 'src/sass/base/variables';
@import 'src/sass/blocks/catalog.scss';
@import 'src/sass/blocks/titles.scss';
@import 'src/sass/blocks/promo.scss';
@import 'src/sass/blocks/header.scss';
@import 'src/sass/blocks/buttons';
@import 'src/sass/blocks/advantages.scss';
@import 'src/sass/blocks/consultation';
@import 'src/sass/blocks/forms.scss';
@import 'src/sass/media.scss';
@import 'src/sass/blocks/carousel.scss';
@import 'src/sass/blocks/rewiews.scss';
@import 'src/sass/blocks/footer.scss';
@import 'src/sass/blocks/modal.scss';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
