.rewiews {
    padding-top: 10px;
    padding-bottom: 70px;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        margin-top: 100px;
    }
    &__feed {
        max-width: 650px;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle {
        padding-top: 8px;
        font-size: 14px;
        font-weight: 500;
        color: #646464;
    }
    &__descr {
        padding-top: 15px;
        font-size: 16px;
        font-weight: 400;
        color: #0d0d0d;
    }
}
